repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
