[manager]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
linemode = "size"
show_symlink = true

[preview]
max_width = 1000
max_height = 1000
image_filter = "lanczos3"

[opener]
edit = [
    { run = 'nvim "$@"', block = true, for = "unix" }
]
open = [
    { run = 'xdg-open "$@"', desc = "Open" }
]
