* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    /* Gruvbox bg with transparency */
    background-color: rgba(40, 40, 40, 0.9);
}

button {
    /* Gruvbox colors */
    color: #d5c4a1;
    background-color: #3c3836;
    border: 2px solid #504945;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 5px;
}

button:focus, button:active, button:hover {
    background-color: #504945;
    border-color: #83a598;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}
#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}
#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
